.App {
  text-align: center;
}


.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  margin: 10px 20% 0;
  border: 1px solid black;
}
.task button {
  align-self: center;
  height: 35px;
}

